<style>

    .colorblu{
      background-color: rgb(213, 230, 236);
    }
    
    .colorgiallo{
      background-color: #f3de68;
    }
    
    .textblack{
      color: black;
    }
    
</style>
    
<div class="container">

<div class="table-responsive colorblu" >

    <table class="table">
        <tr><td>&nbsp;</td></tr>
        <tr class="text-center">
        <td width="15%">
            <button class="btn btn-secondary colorgiallo textblack" (click)="goToComponent('datiazienda')">Dati azienda</button>
        </td>
        <td width="15%">
            <button class="btn btn-secondary colorgiallo textblack" (click)="goToComponent('tipiregistro')">Tipi registro</button>
        </td>
        <td width="15%">
            <button class="btn btn-secondary colorgiallo textblack" (click)="goToComponent('mezzitrasporto')">Mezzi trasporto</button>
        </td>
        <td width="15%">
            <button class="btn btn-secondary colorgiallo textblack" (click)="goToComponent('valute')">Valute</button>
        </td>
        <td width="15%">
            <button class="btn btn-secondary colorgiallo textblack" (click)="goToComponent('unitamisura')">Unità misura</button>
        </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    </table>


</div>
    